body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    font-family: 'Manjari', sans-serif !important;
    font-family: 'Bangers', cursive !important;
    background-color: black;
}
#container{
    margin:0 auto;
    padding: 0;
}
#game_stage{
    visibility: visible;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
}
