body{
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 0;
    overflow: hidden;
    font-family: 'Manjari', sans-serif !important;
    font-family: 'Bangers', cursive !important;
    background-color: black;
}
#container{
    margin:0 auto;
    padding: 0;

}
#bod{
    position: absolute;

    left: auto;
    top: auto;
    width:400;
    height: 600;
    overflow: hidden;
}